# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# macOS
.DS_Store

# VS Code
.vscode/

# Build files
build/
dist/
*.egg-info/
